CONFIG_IDF_TARGET="esp32c6"
CONFIG_PM_ENABLE=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_80=y
CONFIG_PM_DFS_INIT_PLL=y

# Bluetooth / NimBLE
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_CONTROLLER_DISABLED=n
CONFIG_BT_NIMBLE_LOG_LEVEL_WARNING=y

# Disable unused large stacks
CONFIG_ESP_WIFI_ENABLED=n
CONFIG_MBEDTLS_HARDWARE_SHA=n
CONFIG_MBEDTLS_HARDWARE_AES=n
